*{
    margin:0;
    padding:0;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
}
.container div{
    border: none;
}
.container{
    color: white;
    overflow-x: hidden;
    height: 340vh;
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 500px 500px;
    justify-content: space-evenly;
    width: 100vw;
    /* border: 1px solid black; */
}
.bo
.box1{
    margin-top: 40px;
    border: 1px solid black;
    width: 500px;
}
.box2{
    margin-top: 40px;
    border: 1px solid black;
 
}
.box3{
    
    height: 300px;
    border: 1px solid black;
    margin-top: 30px;
}
.box4{
    height: 300px;
    margin-top: 30px;
    border: 1px solid black;
 
}
.box5{
    row-gap: 300px;
    height: 300px;
    margin-top: 30px;
    border: 1px solid black;
 
}
.box6{
    height: 300px;
    margin-top: 20px;
    border: 1px solid black;
 
}
.box7{
    height: 300px;
    margin-top: 30px;
    border: 1px solid black;
 
}
.box8{
    height: 300px;
    margin-top: 30px;
    border: 1px solid black;
 
}
.box9{
    height: 300px;
    margin-top: 40px;
    border: 1px solid black;
 
}
.box10{
    height: 300px;
    margin-top: 40px;
    border: 1px solid black;
 
}
.box11{
    height: 300px;
    margin-top: 40px;
    border: 1px solid black;
 
}
.box12{
    height: 300px;
    margin-top: 40px;
    border: 1px solid black;
 
}


.img{
    height: 200px;
    width:200px;
    border: 1px solid black;
    border-radius: 50%;
    background-image: url(logo.1.jpg);
    background-size: cover;
    
}
.section1{
    display: flex;
    justify-content: center;
}
.para{
  margin-top: 30px;
  text-align: center;
}
.para-1{
    margin-top: 10px;
}
#s-p{
    margin-top: 25px;
}
.s-2-3{
    margin-top: 30px;
    line-height: 40px;
}
   
#a-down{
    margin-top: 40px;
     border-radius: 30px;
    height: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
    width:200px;
    border: 1px solid black;
}
     
#h-1{
    margin-top: 200px;
}
.section3 p{
    margin-top: 20px;
}
.section4 P{
    margin-top: 30px;
}
.section5 P{
    margin-top: 30px;
}
.section6 p{
    margin-top: 30px;
}
.section7 p{
    margin-top: 30px;
}
.section8 p{
    margin-top: 30px;
}
.section9 a{
    margin-top: 30px;
}
.section10 p{
    margin-top: 30px;
}
.section11 p{
    margin-top: 40px;
}
.box12 a{
   text-decoration: none;
    margin-top: 40px;
}

/* .para{
    overflow-y: scroll;
} */
/* .section1{
    overflow-y: scroll;
} */
/* *{
    overflow-y: scroll;
} */
/* .container{
    height: 4000px;
} */

@media screen and (max-width:892px){
    .container{
        height: 4000px;
        display: flex;
        justify-content: center;
    }
 
    .div a{
      line-height: 50px;
    }
    .reserve p{
        text-align: center;
    }
}
@media (max-width:240px){
    .container{
        height: 4060px;
    }
}
@media (min-width:891px){
    /* body{
        background-color: red;
    } */
    .box5{
        margin-top: -150px;
    }
    .box6{
        margin-top: -150px;
    }
    .box7{
        margin-top: -100px;
    }
    .box8{
        margin-top: -100px;
    }
    .box9{
        margin-top: -100px;
    }
    .box10{
        margin-top: -100px;
    }
    .box11{
        margin-top: -150px;
    }
    .box12{
        margin-top: -150px;
    }
    .div{
        line-height: 50px;
    }
}

.para h1{
    color: aqua;
    font-weight: 900;
}
.para-1 p{
    color: darkgray;
}
.section2 h1{
    color:orangered;
}
#s-p{
    color: darkgray;
}
.s-2-3 pre{
    color: #6a5acd;
    font-size: 18px;
    font-style: italic;
}
#a-down{
    background-color: gold;
    color:#00000091;
}
.section3 h1{
    color: gold;
}
.section3 p{
    color:darkgray
}

.section4 h1{
    color: gold;
}
.section3 p{
    color:darkgray
}

.dd-s3{
    color: white;
}
.section4 p{
    color:darkgray
}

.section5 h1{
    color: gold;
}
.section5 p{
    color: darkgrey;
}
.section6 h1{
    color: gold;

}
.section6 p{
    color: darkgrey;

}
.section7 p{
    color: darkgrey;

}
.section7 h1{
    color:gold;

}

.section8 p{
    color: darkgrey;

}
.section8 h1{
    color:gold;

}

.section9 h1{
    color:gold;

}

.section9 a{
    color: darkgrey;

}

.section10 h1{
    color:gold;

}

.section10 p{
    color: darkgrey;

}

.section11 h1{
    color:gold;

}

.section11 p{
    color: darkgrey;

}

.box12 h1{
    color:gold;

}

.box12 p{
    color: darkgrey;

}
